{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message">Add a Listing to Share BnB today!</h2>
<!--
    <form method="POST" id="user_form" enctype=multipart/form-data>
      {{ form.hidden_tag() }}

      {% include "_form.html" %}

      <button class="btn btn-primary btn-lg">Post Listing</button>
    </form> -->

    <form method="POST" id="user_form" enctype=multipart/form-data>
      {{ form.hidden_tag() }}

      {% include "_form.html" %}

      <button class="btn btn-primary btn-lg">Post Listing</button>
    </form>

  </div>
</div>

{% endblock%}