{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-center bg-1">
  <div class="row mb-5 justify-content-center">
    <div col="col-12">
      <h3>{{ listing.title }}</h3>
      <p>{{ listing.description }}</p>
      <p>{{ listing.address}}</p>
      <p>{{ listing.city}}, {{ listing.state }} {{ listing.zipcode }}</p>
      <div>
        <br>
        <h4>Hosted by {{ listing.host_user.first_name }}</h4>
        <p>Email: {{ listing.host_user.email }}</p>
      </div>
      <div>
        {% if g.user %}
        <form class="ml-3 d-inline">
          <button id="book" style="display: none" class="btn-sm btn btn-outline-primary" formaction="/book">
            Book
          </button>
          <button id="cancel" style="display: none" class="btn-sm btn btn-outline-secondary" formaction="/cancel">
            Cancel
          </button>
        </form>
        {% endif %}

        <script>
          const listingId = {{ listing.id }}
        </script>

        <script src="/static/js/booking.js"></script>
      </div>
    </div>
  </div>

  <!-- <div class="col-9 ">
      {% for photo in listing.photos %}
      <img src="{{ photo.photo_url }}" alt="{{ listing.title }}" style="max-width:1000px" ; />
      {% endfor %}
    </div> -->
  <div class="container-fluid text-center bg-1">
    <div class="row justify-content-center">
      <div id="carouselExample" class="carousel">
        <div class="carousel-inner" role="listbox">
          {% for photo in listing.photos %}
          {% if loop.first %}
          <div class="carousel-item active">
            <img src="{{photo.photo_url}}" alt="{{listing.title}}" style="width:600px; height: 100%;">
          </div>
          {% else %}
          <div class="carousel-item">
            <img src="{{photo.photo_url}}" alt="{{listing.title}}" style="width:600px; height: 100%;">
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  {% endblock %}