{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-3">
      <h3>{{ listing.title }}</h3>
      <p>{{ listing.description }}</p>
      <p>{{ listing.address}}</p>
      <p>{{ listing.city}}, {{ listing.state }} {{ listing.zipcode }}</p>
      <div>
        <br>
        <h4>Hosted by {{ listing.host_user.first_name }}</h4>
        <p>Email: {{ listing.host_user.email }}</p>
      </div>

      <div>
        {% if g.user %}
        <form class="ml-3 d-inline">
          <button id="book" style="display: none"
            class="btn-sm btn btn-outline-primary" formaction="/book">
            Book
          </button>
          <button id="cancel" style="display: none"
            class="btn-sm btn btn-outline-secondary" formaction="/cancel">
            Cancel
          </button>
        </form>
        {% endif %}

        <script>
          const listingId = {{ listing.id }}
        </script>

        <script src="/static/js/booking.js"></script>
      </div>
    </div>

    <div class="col-9 ">
      {% for photo in listing.photos %}
      <img src="{{ photo.photo_url }}" alt="{{ listing.title }}" style="max-width:1000px" ; />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}