{% extends 'base.html' %}

{% block content %}

<div>
  <form>
    <label for="sharebnb-search-title" class="form-label">Search destination...</label>
    <input
      type="text"
      name="search-title"
      id="sharebnb-search-title"
      class="form-control"
      aria-describedby="sharebnb-search-keyword"
      placeholder="Destination name...">
    <label for="sharebnb-search-city" class="form-label">City</label>
    <input
      type="text"
      name="search-city"
      id="sharebnb-search-city"
      class="form-control"
      aria-describedby="sharebnb-search-city"
      placeholder="City">
      <button class="btn btn-primary">Search</button>
  </form>
</div>


<h1 class="mb-4">Backyards and Outdoor Spaces</h1>

<div class="row">

  {% for listing in listings %}

  <div class="col-6 col-md-4 col-lg-3">
    <div class="card mb-3">
      {% for photo in listing.photos %}
      <img class="card-img-top image-fluid" style="height: 10em"
        src="{{ photo.photo_url }}" alt="{{ listing.title }}">
      {% endfor %}
      <div class="card-body">
        <h5 class="card-title">
          <a href="/listings/{{ listing.id }}">
            {{ listing.title }}
          </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ listing.address }}
          {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}
        </h6>
        <p class="card-text">
          {{ listing.description }}
        </p>
      </div>
    </div>
  </div>

  {% endfor %}

{% endblock%}