{% extends 'base.html' %}

{% block content %}

<div>
  <form>
    <label for="Search" class="form-label">Search</label>
    <input
      type="text"
      name="search-keyword"
      id="sharebnb-search-keyword"
      class="form-control"
      aria-describedby="sharebnb-search-keyword"
      placeholder="Search destinations...">
    <div id="passwordHelpBlock" class="form-text">
  </form>
</div>


<h1 class="mb-4">Backyards and Outdoor Spaces</h1>

<div class="row">

  {% for listing in listings %}

  <div class="col-6 col-md-4 col-lg-3">
    <div class="card mb-3">
      <img class="card-img-top image-fluid" style="height: 10em"
        src="{{ listing.photos.photo_url }}" alt="{{ listing.title }}">
      <div class="card-body">
        <h5 class="card-title">
          <a href="/listings/{{ listing.id }}">
            {{ listing.title }}
          </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ listing.address }}
          {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}
        </h6>
        <p class="card-text">
          {{ listing.description }}
        </p>
      </div>
    </div>
  </div>

  {% endfor %}

{% endblock%}