{% extends 'base.html' %}

{% block content %}


<div class="homepage">
  <h1 class="display-1">Share BnB</h1>
  <h3 class="display-5">Explore your backyard destination</h3>
  <a class="mt-5 btn btn-primary" href="/listings">View Our Listings</a>
</div>

<style>
  body {
    background: url(/static/images/homepage.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .display-1, .display-5 {
    color: white;
    text-shadow: black 3px 3px !important;
    letter-spacing: 0.05em
  }
</style>

{% endblock%}

<!-- homepage -->