<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

<!-- <img src="https://crystal-sharebnb.s3.amazonaws.com/bc1029e5b2934666a10a8abefec2677c.jpg?AWSAccessKeyId=AKIA47CR3VHXL3JIB6M5&Signature=E582stF004Ig%2BpbzkD9WtDgLsR0%3D&Expires=1706728389">
<img src="https://crystal-sharebnb.s3.amazonaws.com/f288e3906f46493aa0d9864b7a610fde.jpg?AWSAccessKeyId=AKIA47CR3VHXL3JIB6M5&Signature=iqcDigTKVJpZYby4yk4Khd6bBFw%3D&Expires=1706728422"> -->