{% extends 'base.html' %}

{% block content%}
<div>
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <p>Description: {{ user.description }}</p>
  <p>Email: {{ user.email }}</p>
  <p><a class="mt-5 btn btn-primary" href="/users/{{ user.id }}/add-listing">Add a listing</a></p>
</div>

<div>
  <h4>Hosted Listings</h4>
  {% if user.host_listings %}
  <ul>
    {% for listing in user.host_listings %}
      <li>
        <a href="/listings/{{listing.id}}">{{ listing.title }}</a>
        <p>{{ listing.description }}</p>
        {{ listing.address }} <br>
        {{ listing.city }} {{listing.state}}, {{ listing.zipcode }}
        <p>{{listing.price}} / per night</p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No lisitngs hosted.</p>
  {% endif %}
</div>
<hr>
<div>
  <h4>Currently renting</h4>
  {% if user.booked_listings %}
  <ul>
    {% for listing in user.booked_listings %}
      <li>
        <a href="/listings/{{listing.id}}">{{listing.title}}</a>
        <p>{{listing.description}}</p>
        <p>{{listing.address}},{{listing.state}}, {{listing.zipcode}}</p>
        <p>{{listing.price}}</p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No listings booked.</p>
  {% endif %}

</div>

{% endblock content %}