{% extends 'base.html' %}

{% block content%}
<div>
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <p>{{ user.description }}</p>
  <a class="mt-5 btn btn-primary" href="/users/{{ user.id }}/add-listing">Add a listing</a>
</div>

<div>
  <h2>Hosted Listings</h2>
  <ul>
    {% for listing in user.host_listings %}
      <li>
        <a href="/listings/{{listing.id}}">{{listing.title}}</a>
        <p>{{listing.description}}</p>
        <p>{{listing.address}},{{listing.state}}, {{listing.zipcode}}</p>
        <p>{{listing.price}}</p>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>Currently renting</h2>
  <ul>
    {% for listing in user.renter_listings %}
      <li>
        <a href="/listings/{{listing.id}}">{{listing.title}}</a>
        <p>{{listing.description}}</p>
        <p>{{listing.address}},{{listing.state}}, {{listing.zipcode}}</p>
        <p>{{listing.price}}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}